<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <spryng_general>
                <active>0</active>
                <enabled>0</enabled>
                <type>test</type>
                <apikey_sandbox backend_model="Magento\Config\Model\Config\Backend\Encrypted"></apikey_sandbox>
                <apikey_live backend_model="Magento\Config\Model\Config\Backend\Encrypted"></apikey_live>
                <payment_images>1</payment_images>
                <order_status_pending>pending_payment</order_status_pending>
                <order_status_processing>processing</order_status_processing>
                <invoice_notify>1</invoice_notify>
                <debug>1</debug>
                <model>Spryng\Payment\Model\Methods\General</model>
                <dynamic_descriptor>Order %id%</dynamic_descriptor>
            </spryng_general>
            <spryng_methods_creditcard>
                <active>0</active>
                <model>Spryng\Payment\Model\Methods\Creditcard</model>
                <title>Credit Cards</title>
				<payment_action>authorize_capture</payment_action>
				<cctypes>AE,VI,MC</cctypes>
                <allowspecific>0</allowspecific>
                <instructions></instructions>
            </spryng_methods_creditcard>
            <spryng_methods_ideal>
                <active>0</active>
                <model>Spryng\Payment\Model\Methods\Ideal</model>
                <title>iDEAL</title>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions></instructions>
            </spryng_methods_ideal>
            <spryng_methods_paypal>
                <active>0</active>
                <model>Spryng\Payment\Model\Methods\Paypal</model>
                <title>Paypal</title>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions></instructions>
            </spryng_methods_paypal>
            <spryng_methods_sepa>
                <active>0</active>
                <model>Spryng\Payment\Model\Methods\Sepa</model>
                <title>Sepa</title>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions></instructions>
            </spryng_methods_sepa>
            <spryng_methods_sofort>
                <active>0</active>
                <model>Spryng\Payment\Model\Methods\Sofort</model>
                <title>Sofort</title>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions></instructions>
            </spryng_methods_sofort>
            <spryng_methods_klarna>
                <active>0</active>
                <model>Spryng\Payment\Model\Methods\Klarna</model>
                <title>Klarna</title>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions></instructions>
            </spryng_methods_klarna>
            <spryng_methods_bancontact>
                <active>0</active>
                <model>Spryng\Payment\Model\Methods\Bancontact</model>
                <title>Bancontact</title>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions></instructions>
            </spryng_methods_bancontact>
        </payment>
    </default>
</config>
